*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
select{
  width: 300px;
  /* height: 30px; */
  padding: 7px;
  font-size: 15px;
  border-radius: 5px;
}
input{
  width: 300px;
  /* height: 30px; */
  padding: 7px;
  font-size: 15px;
  border-radius: 5px;
}
.toph{
  width: 85%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;

}
#cardMain{
  width: 370px;
  height: auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  padding: 1rem ;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-radius: 1rem;
  box-shadow: 2px -1px 4px 3px #ede2e2;
  margin: auto;
  margin-bottom: 3rem;
  
  
}

#post{
  width: 150px;
  padding: 2px;
  box-shadow: 1px 0px 5px 0px #d0d0d0;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  margin-top:1rem;
  border: 0.1px solid rgb(231, 231, 231);

}
#post p{
  font-size: small;

}
#jd{
  height: 60px;
  overflow: hidden;
}
.viewMore:hover{
  cursor: pointer;
}
.apply{
  width: 100%;
  margin-top:15px;
  height:40px;
  border-radius:0.4rem;
  background-color:#55efc4;
  border:none;
  font-weight:bold;
  font-size:15px
}
.apply:hover{
  cursor: pointer;
  background-color:#057d5b;
  color: #ffffff;
}
#cname{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0.8rem;
  gap: 10px;
}

#cname #heading{
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 80px;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 0px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  align-items: start;

}

@media screen and (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media screen and (max-width: 480px) {
  .card-grid {
    grid-template-columns: 1fr; 
    width: 100%;

  }
  .toph{
    width: 85%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    flex-direction: column;
  
  }
 
  #cardMain{
    width: 300px;
    /* height: 500px; */
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 1rem ;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 2px -1px 4px 3px #ede2e2;
    margin-left: auto;
    margin-right: auto;
    
  }
}
